*{
  box-sizing: border-box;
  text-align: center;
  
  /*background-image: url("C:\Users\Alfredo\Desktop\Proyectos\LLMM\imagenes\Logoblanco.png");*/
    
}
body {
    background-color: rgb(65, 64, 64);
    color: black;
    font-family: Verdana;
    text-align: center;
}

header {
    padding: 6px;
    margin: 40px;
    text-align: center;
    background: #242424;
    color:yellow;
    border: 5px dashed yellow;
    border-radius:10px;
} 
.subtitulo{
    border: 5px dashed yellow;
    border-radius:10px;
    text-align: center;
    width: 75%;
    margin: auto;
    background: #242424;
    color:yellow;    

}
.container{
    border: 10px groove goldenrod;
    border-radius:10px;
    margin: auto;
}
td{
    border: 5px groove yellow;
    border-radius:10px;
}
input{
    background-color: rgb(65, 64, 64);
}
.comentario{
    margin: auto;
    border: 5px groove yellow;
    border-radius:10px;
    width: fit-content;

}
.check{
    margin: auto;
    border: 5px groove yellow;
    border-radius:10px;
    width: fit-content;
}
table{
    
    margin: 5% auto;
    text-align: center;
    border: 5px dashed black;
    border-radius:10px;
    width: auto;
}
nav{
    padding: 6px;
    margin: 40px;
    background: #242424;
    border: 5px dashed yellow;
    font-size: 20px;
    border-radius:10px;
    width: max-content;
    float: left;
  }
.toinicio{
    margin: auto;
    border: 5px groove goldenrod;
    border-radius:10px;
    width: fit-content;
}
article{
    padding-right: 40px;
}
a:visited{
    color: #609;
}
a:link{
    color: yellow;
}
a:hover{
    color: #609;
    text-decoration:line-through; 
}
a:active{
    color: yellow;
}
a{
    border: 5px dashed black;
}
footer{
    color:yellow;
    padding: 2px;
    margin: 20px;
    background: #242424;
    border: 5px dashed yellow;
    border-radius:10px;
}
  