*{
    box-sizing: border-box;
    text-align: center;
    -webkit-box-sizing: content-box;
    /*background-image: url("C:\Users\Alfredo\Desktop\Proyectos\LLMM\imagenes\Logoblanco.png");*/
  }
  body {
    background-color: rgb(65, 64, 64);
    color: black;
    font-family: Verdana;
    text-align: center;
  }
  .container{
    border: 10px groove goldenrod;
    border-radius:10px;
    margin: auto;
  }
  header {
    padding: 6px;
    margin: 40px;
    text-align: center;
    background: #242424;
    color:yellow;
    border: 5px dashed yellow;
    border-radius:10px;
  } 

  .centro{
    float: inherit;
    margin: inherit;
    
  }
  article{
    border: 5px dashed yellow;
    border-radius:10px;
    background: #242424;
    width: fit-content;
    margin: auto;
    /*display: inline-block;*/
  }
  /*Menu de enlaces*/
  nav{
    padding: 6px;
    margin: auto 40px;
    background: #242424;
    border: 5px dashed yellow;
    font-size: 20px;
    border-radius:10px;
    width: fit-content; 
    float: left;
  }
  .foto{
    /*padding: 6px;*/
    margin-right: 40px;
    margin-bottom: 40px;
    border: 5px dashed yellow;
    border-radius:10px;
    width: fit-content; 
    float: right;
    
  }
  a:visited{
    color: #609;  
  }
  a:link{
    color: yellow;
  }
  a:hover{
    color: #609;
    text-decoration:line-through; 
  }
  a:active{
    color: yellow;
  }
  a{
    border: 5px dashed black;
  }
  footer{
    color:yellow;
    padding: 2px;
    margin: 20px;
    background: #242424;
    border: 5px dashed yellow;
    border-radius:10px;
    clear: both;
  }